<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости категории {{ category.name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-between py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">News Website</a></li>
                {% for c in categories %}
                <li class="nav-item">
                    <a href="{% url 'index:category_page' c.id %}" class="nav-link" aria-current="page">
                        {{ c }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/accounts/login" class="nav-link">Войти</a></li>
                <li class="nav-item"><a href="/register" class="nav-link">Регистрация</a></li>
            </ul>
        </header>
        <hr>

        <!-- Форма поиска -->
        <form method="post" action="/search" class="d-flex mb-4">
            {% csrf_token %}
            <input type="text" name="query" class="form-control me-2" placeholder="Поиск новостей..." aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Найти</button>
        </form>
    </div>

    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Новости в категории {{ category.name }}</h2>
        <div class="row g-4 py-5">
            {% for p in news %}
            <div class="col-12 col-md-4">
                <div class="card h-100">
                    {% if p.news_photo %}
                        <img src="{{ p.news_photo.url }}" class="card-img-top" width="200" height="200" alt="{{ p.title }}" style="object-fit: cover;">
                    {% else %}
                        <img src="https://via.placeholder.com/200" class="card-img-top" width="200" height="200" alt="Placeholder" style="object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h3 class="fs-3">{{ p.title }}</h3>
                        <p class="text-muted">Категория: {{ p.category.name }} | Дата: {{ p.created_at|date:"d.m.Y H:i" }}</p>
                        <p class="text-black">{{ p.content|truncatechars:100 }}</p>
                        <a href="{% url 'index:news_page' p.id %}">Подробнее</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p>Новостей в этой категории пока нет.</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>